.section-image {
	background-color: #dddddd;
	&:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
}
.section-content {
	height: 100%;
	p {
		margin: 0;
	}
}

.paypal-container {
	display: none;
	span {
		margin-left: 32px;
	    font-style: italic;
	    position: relative;
	    top: -24px;
	}
}
.frontpage-posts-section {
	margin-top: 10%;
	@media(max-width: 500px) {
		h2 {
			font-size: 3rem;
			text-align: center;
		}
	}
}

.custom-posts-wrapper {
	.custom-post-item-wrapper {
		@include webkit-prefix(display, flex);
	}
	.custom-post-thumbnail {
		height: 124px;
		min-width: 124px;
		max-width: 124px;
		background-color: #ddd;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.custom-post-content {
		padding: 0 3%;
	}
	@media(max-width: 500px) {
		.custom-post-item-wrapper {
			@include webkit-prefix(flex-wrap, wrap);
		}
		.custom-post-thumbnail {
			height: auto;
			min-width: 100%;
			max-width: 100%;
			&:after {
				content: "";
				display: block;
				padding-bottom: 100%;
			}
		}
		.custom-post-content {
			h6 {
				font-size: 2rem;
				margin-top: 1rem;
			}
			p {
				font-size: 1.25rem;
			}
		}
	}
}