.section-image {
	background-color: #dddddd;
	&:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
}
.section-content {
	height: 100%;
	p {
		margin: 0;
	}
}

.paypal-container {
	display: none;
	span {
		margin-left: 32px;
	    font-style: italic;
	    position: relative;
	    top: -24px;
		}
}