.wpcf7-form {
	@include webkit-prefix(display, flex);
	@include webkit-prefix(flex-wrap, wrap);
	@include webkit-prefix(justify-content, space-between);
	@include webkit-prefix(align-items, flex-end);
	p {
		width: 32%;
	}
	select {
		width: 100%;
	}
	textarea {
		height: 15vh;
	}
	label {
		margin-bottom: 0;
	}
	.label-comment {
		font-weight: 400;
	    font-size: .85rem;
	    display: inline-block;
	}
	.agree-checkbox {
		.wpcf7-list-item {
			margin-left: 0;
		}
	}
}
.step-title {
	width: 100%;
	font-size: 1.3rem;
	margin-bottom: 2.5rem;
}
