/* Grid: start */
@media screen and (min-width: 48em) {
	.wrap {
		max-width: 1170px;
	}
	.navigation-top .wrap {
	    max-width: 1170px;
	}
}
/* Grid: end */ 

body.page-two-column:not(.archive) #primary .entry-header,
body.page-two-column:not(.archive) #primary .entry-content {
	width: 100%;
}
body.page:not(.twentyseventeen-front-page) .entry-title {
	font-size: 1.5rem;
}

.has-sidebar:not(.error404) #primary {
	width: 100%;
}