.candidates-table {
	width: 100%;
	margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
	th, td {
	    text-align: center;
	    padding: 8px;
	    width: 25%;
	}
	tr:nth-child(even){background-color: $lightgray;}
	th {
	    color: white;
		cursor: pointer;
	    background-color: $black;
	    &:hover {
	    	opacity: .85;
	    }
	}
}